/*Text Colors
------------------------------------*/
.color-sea {
  color: #1abc9c;
}
.color-red {
  color: #e74c3c;
}
.color-aqua {
  color: #27d7e7;
}
.color-blue {
  color: #3498db;
}
.color-grey {
  color: #95a5a6;
}
.color-dark {
  color: #555555;
}
.color-green {
  color: #74C52C;
}
.color-brown {
  color: #9c8061;
}
.color-light {
  color: #ffffff;
}
.color-orange {
  color: #e67e22;
}
.color-yellow {
  color: #f1c40f;
}
.color-green1 {
  color: #2ecc71;
}
.color-purple {
  color: #9b6bcc;
}
.color-inherit {
  color: inherit;
}
.color-dark-blue {
  color: #4765a0;
}
.color-light-grey {
  color: #585f69;
}
.color-light-green {
  color: #79d5b3;
}
/*Background Colors
------------------------------------*/
.bg-color-dark,
.bg-color-sea,
.bg-color-red,
.bg-color-aqua,
.bg-color-blue,
.bg-color-grey,
.bg-color-light,
.bg-color-green,
.bg-color-brown,
.bg-color-orange,
.bg-color-green1,
.bg-color-purple,
.bg-color-dark-blue,
.bg-color-light-grey,
.bg-color-light-green {
  color: #fff;
}
.bg-color-white {
  color: #555;
}
.bg-color-dark {
  background-color: #555 !important;
}
.bg-color-white {
  background-color: #fff !important;
}
.bg-color-sea {
  background-color: #1abc9c !important;
}
.bg-color-red {
  background-color: #e74c3c !important;
}
.bg-color-aqua {
  background-color: #27d7e7 !important;
}
.bg-color-blue {
  background-color: #3498db !important;
}
.bg-color-grey {
  background-color: #95a5a6 !important;
}
.bg-color-light {
  background-color: #f7f7f7 !important;
}
.bg-color-green {
  background-color: #3498db !important;
}
.bg-color-brown {
  background-color: #9c8061 !important;
}
.bg-color-orange {
  background-color: #e67e22 !important;
}
.bg-color-green1 {
  background-color: #2ecc71 !important;
}
.bg-color-purple {
  background-color: #9b6bcc !important;
}
.bg-color-dark-blue {
  background-color: #4765a0 !important;
}
.bg-color-light-grey {
  background-color: #585f69 !important;
}
.bg-color-light-green {
  background-color: #79d5b3 !important;
}
.rgba-red {
  background-color: rgba(231, 76, 60, 0.8);
}
.rgba-blue {
  background-color: rgba(52, 152, 219, 0.8);
}
.rgba-aqua {
  background-color: rgba(39, 215, 231, 0.8);
}
.rgba-yellow {
  background-color: rgba(241, 196, 15, 0.8);
}
.rgba-default {
  background-color: rgba(114, 192, 44, 0.8);
}
.rgba-purple {
  background-color: rgba(155, 107, 204, 0.8);
}
/*Grey Backroud*/
.bg-grey {
  background: #f7f7f7;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}
/*Page Search
------------------------------------*/
/*Search Block*/
.search-block {
  padding: 80px 0;
  text-align: center;
  position: relative;
  margin-bottom: 20px;
  background: url(../../img/bg/7.jpg) 50% 0 repeat fixed;
}
.search-block:before {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: " ";
  position: absolute;
  background: rgba(0, 0, 0, 0.3);
}
.search-block h1 {
  color: #fff;
  font-size: 34px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
}
.search-block .input-group {
  margin-bottom: 10px;
}
.search-block .form-control {
  border: none;
  height: 48px;
  font-size: 16px;
  font-weight: 200;
}
/*Checkbox*/
.search-block form.page-search-form {
  border: none;
}
.search-block form.page-search-form .radio,
.search-block form.page-search-form .checkbox {
  margin: 0 3% 0 4%;
}
.search-block form.page-search-form .checkbox {
  color: #fff;
  font-weight: 200;
}
.search-block form.page-search-form .radio i,
.search-block form.page-search-form .checkbox i {
  top: 6px;
  width: 15px;
  height: 15px;
  border: none;
}
/*Category
------------------------------------*/
/*Section-Block*/
.section-block {
  padding: 20px;
  border: 1px solid #eee;
  box-shadow: 0 0 3px #eee;
}
.section-block h2 {
  color: #333;
  font-size: 28px;
  font-weight: 200;
  margin: 10px 0 15px;
}
.section-block .text-center p {
  margin-bottom: 0;
}
.section-block .section-block-info {
  margin-top: 5px;
  padding-top: 20px;
  border-top: solid 1px #eee;
}
.section-block .section-block-info ul {
  margin-bottom: 0;
}
