/*Text Colors
------------------------------------*/
.color-sea {
  color: #1abc9c;
}
.color-red {
  color: #e74c3c;
}
.color-aqua {
  color: #27d7e7;
}
.color-blue {
  color: #3498db;
}
.color-grey {
  color: #95a5a6;
}
.color-dark {
  color: #555555;
}
.color-green {
  color: #72c02c;
}
.color-brown {
  color: #9c8061;
}
.color-light {
  color: #ffffff;
}
.color-orange {
  color: #e67e22;
}
.color-yellow {
  color: #f1c40f;
}
.color-green1 {
  color: #2ecc71;
}
.color-purple {
  color: #9b6bcc;
}
.color-inherit {
  color: inherit;
}
.color-dark-blue {
  color: #4765a0;
}
.color-light-grey {
  color: #585f69;
}
.color-light-green {
  color: #79d5b3;
}
/*Background Colors
------------------------------------*/
.bg-color-dark,
.bg-color-sea,
.bg-color-red,
.bg-color-aqua,
.bg-color-blue,
.bg-color-grey,
.bg-color-light,
.bg-color-green,
.bg-color-brown,
.bg-color-orange,
.bg-color-green1,
.bg-color-purple,
.bg-color-dark-blue,
.bg-color-light-grey,
.bg-color-light-green {
  color: #fff;
}
.bg-color-white {
  color: #555;
}
.bg-color-dark {
  background-color: #555 !important;
}
.bg-color-white {
  background-color: #fff !important;
}
.bg-color-sea {
  background-color: #1abc9c !important;
}
.bg-color-red {
  background-color: #e74c3c !important;
}
.bg-color-aqua {
  background-color: #27d7e7 !important;
}
.bg-color-blue {
  background-color: #3498db !important;
}
.bg-color-grey {
  background-color: #95a5a6 !important;
}
.bg-color-light {
  background-color: #f7f7f7 !important;
}
.bg-color-green {
  background-color: #72c02c !important;
}
.bg-color-brown {
  background-color: #9c8061 !important;
}
.bg-color-orange {
  background-color: #e67e22 !important;
}
.bg-color-green1 {
  background-color: #2ecc71 !important;
}
.bg-color-purple {
  background-color: #9b6bcc !important;
}
.bg-color-dark-blue {
  background-color: #4765a0 !important;
}
.bg-color-light-grey {
  background-color: #585f69 !important;
}
.bg-color-light-green {
  background-color: #79d5b3 !important;
}
.rgba-red {
  background-color: rgba(231, 76, 60, 0.8);
}
.rgba-blue {
  background-color: rgba(52, 152, 219, 0.8);
}
.rgba-aqua {
  background-color: rgba(39, 215, 231, 0.8);
}
.rgba-yellow {
  background-color: rgba(241, 196, 15, 0.8);
}
.rgba-default {
  background-color: rgba(114, 192, 44, 0.8);
}
.rgba-purple {
  background-color: rgba(155, 107, 204, 0.8);
}
/*Grey Backroud*/
.bg-grey {
  background: #f7f7f7;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}
/*Job
------------------------------------*/
.job-img {
  overflow: hidden;
  position: relative;
  min-height: 300px;
  background: url(../../img/bg/11.jpg) 70% 40% no-repeat;
}
.job-img .job-banner {
  padding: 20px;
  max-width: 450px;
  margin: 60px auto 100px;
  background: rgba(255, 255, 255, 0.8);
}
.job-img .job-banner h2 {
  font-size: 20px;
  line-height: 27px;
  text-align: center;
  text-transform: uppercase;
}
@media (max-width: 768px) {
  .job-img .job-banner {
    padding: 10px;
    margin: 30px auto 100px;
  }
}
.job-img .job-img-inputs {
  left: 0;
  right: 0;
  bottom: -7px;
  padding: 20px 0;
  position: absolute;
  background: rgba(0, 0, 0, 0.9);
}
/*Job-Content
------------------------------------*/
.job-content .categories li {
  padding: 6px 0;
  border-bottom: 1px dotted #eee;
}
.job-content .hex {
  color: #999999;
}
/*High-Rated
------------------------------------*/
.high-rated .carousel-indicators {
  top: 10px;
  left: 65%;
  text-align: right;
}
.high-rated .carousel-indicators .active {
  background: #555;
}
.high-rated .carousel-indicators li {
  border-color: #555;
}
.high-rated .carousel-inner > .item {
  margin: 0;
}
.high-rated .star-vote {
  float: right;
  margin-top: 8px;
}
.high-rated .star-vote ul {
  margin-bottom: 0;
}
.high-rated .star-vote li {
  padding: 0;
}
