/*Text Colors
------------------------------------*/
.color-sea {
  color: #1abc9c;
}
.color-red {
  color: #e74c3c;
}
.color-aqua {
  color: #27d7e7;
}
.color-blue {
  color: #3498db;
}
.color-grey {
  color: #95a5a6;
}
.color-dark {
  color: #555555;
}
.color-green {
  color: #72c02c;
}
.color-brown {
  color: #9c8061;
}
.color-light {
  color: #ffffff;
}
.color-orange {
  color: #e67e22;
}
.color-yellow {
  color: #f1c40f;
}
.color-green1 {
  color: #2ecc71;
}
.color-purple {
  color: #9b6bcc;
}
.color-inherit {
  color: inherit;
}
.color-dark-blue {
  color: #4765a0;
}
.color-light-grey {
  color: #585f69;
}
.color-light-green {
  color: #79d5b3;
}
/*Background Colors
------------------------------------*/
.bg-color-dark,
.bg-color-sea,
.bg-color-red,
.bg-color-aqua,
.bg-color-blue,
.bg-color-grey,
.bg-color-light,
.bg-color-green,
.bg-color-brown,
.bg-color-orange,
.bg-color-green1,
.bg-color-purple,
.bg-color-dark-blue,
.bg-color-light-grey,
.bg-color-light-green {
  color: #fff;
}
.bg-color-white {
  color: #555;
}
.bg-color-dark {
  background-color: #555 !important;
}
.bg-color-white {
  background-color: #fff !important;
}
.bg-color-sea {
  background-color: #1abc9c !important;
}
.bg-color-red {
  background-color: #e74c3c !important;
}
.bg-color-aqua {
  background-color: #27d7e7 !important;
}
.bg-color-blue {
  background-color: #3498db !important;
}
.bg-color-grey {
  background-color: #95a5a6 !important;
}
.bg-color-light {
  background-color: #f7f7f7 !important;
}
.bg-color-green {
  background-color: #72c02c !important;
}
.bg-color-brown {
  background-color: #9c8061 !important;
}
.bg-color-orange {
  background-color: #e67e22 !important;
}
.bg-color-green1 {
  background-color: #2ecc71 !important;
}
.bg-color-purple {
  background-color: #9b6bcc !important;
}
.bg-color-dark-blue {
  background-color: #4765a0 !important;
}
.bg-color-light-grey {
  background-color: #585f69 !important;
}
.bg-color-light-green {
  background-color: #79d5b3 !important;
}
.rgba-red {
  background-color: rgba(231, 76, 60, 0.8);
}
.rgba-blue {
  background-color: rgba(52, 152, 219, 0.8);
}
.rgba-aqua {
  background-color: rgba(39, 215, 231, 0.8);
}
.rgba-yellow {
  background-color: rgba(241, 196, 15, 0.8);
}
.rgba-default {
  background-color: rgba(114, 192, 44, 0.8);
}
.rgba-purple {
  background-color: rgba(155, 107, 204, 0.8);
}
/*Grey Backroud*/
.bg-grey {
  background: #f7f7f7;
  border-top: solid 1px #eee;
  border-bottom: solid 1px #eee;
}
/*Search Block Version 2
------------------------------------*/
.search-block-v2 {
  margin-bottom: 50px;
  padding: 50px 0 58px;
  border-bottom: 1px solid #eee;
  background: url(../../img/patterns/breadcrumbs.png) repeat;
}
.search-block-v2 h2 {
  font-size: 24px;
  font-weight: 200;
  text-align: center;
  margin-bottom: 18px;
  text-transform: uppercase;
}
/*S-Results
------------------------------------*/
/*Related-search*/
.s-results .related-search {
  border-right: 1px solid #eee;
}
.s-results .related-search h3 {
  color: #999;
  display: block;
  font-size: 14px;
  margin: 0 0 10px;
  line-height: 20px;
  text-transform: uppercase;
}
.s-results .related-search li {
  margin: 4px 0;
}
.s-results .related-search li a {
  text-transform: capitalize;
}
.s-results .related-search a.see-all {
  color: #999;
}
.s-results .related-search a:hover {
  color: #72c02c;
}
.s-results .related-search hr {
  margin: 20px 0;
}
.s-results .blog-photos {
  margin-bottom: 0;
}
.s-results .blog-photos li img {
  width: 34px;
  height: 34px;
}
/*Results-number*/
.s-results .results-number {
  color: #999;
  display: block;
  margin-bottom: 10px;
  text-transform: uppercase;
}
/*Inner-results*/
.s-results .inner-results {
  clear: both;
}
.s-results .inner-results h3 {
  font-size: 18px;
  margin-bottom: 3px;
  text-transform: capitalize;
}
.s-results .inner-results h3 a {
  color: #555;
}
.s-results .inner-results h3 a:hover {
  color: #72c02c;
}
.s-results .inner-results img {
  float: left;
  width: 85px;
  height: auto;
  margin: 0 10px 10px 0;
}
/*up-ul*/
.s-results .up-ul {
  margin-bottom: 4px;
}
.s-results .up-ul li a {
  color: #999;
}
.s-results .up-ul li a:hover {
  color: #72c02c;
}
/*btn-group 'dropdown'*/
.s-results .inner-results .btn {
  top: -1px;
  padding: 0;
  position: relative;
}
.s-results .inner-results .btn-default {
  color: #999;
  border: none;
  font-size: 13px;
}
.s-results .inner-results .btn:hover,
.s-results .inner-results .btn:focus {
  box-shadow: none;
  background: inherit;
}
.s-results .inner-results .btn-u-default {
  color: #999;
  border: none;
}
.s-results .inner-results .btn-u-xs {
  padding: 0;
}
.s-results .inner-results .btn-u-default i {
  font-size: 14px;
}
.s-results .inner-results p {
  margin-bottom: 5px;
}
/*down-ul*/
.s-results .down-ul {
  margin-bottom: 0;
}
.s-results .down-ul li {
  color: #999;
}
.s-results .down-ul li a {
  color: #72c02c;
}
.s-results .star-vote {
  margin-left: 0px;
}
.s-results .star-vote li {
  padding: 0;
}
@media (max-width: 992px) {
  /*Related-search*/
  .s-results .related-search {
    border-right: none;
    margin-bottom: 30px;
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
  }
  .s-results .related-search hr {
    margin: 10px 0;
    visibility: hidden;
  }
}
@media (max-width: 500px) {
  /*Inner-results*/
  .s-results .inner-results img {
    width: 60px;
    height: auto;
  }
  .s-results .inner-results .overflow-a p {
    display: none;
  }
}
